﻿@model List<Shopee_Food.Models.MatHangMua>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<head>
    <style>
        .content {
            padding: 0 50px 0 50px;
        }
    </style>
</head>

<div class="content">
    <h2 style="text-align:center; font-weight:bold;font-size: 30px;color:black; margin-top: 30px; margin-bottom: 30px;">THÔNG TIN GIỎ HÀNG</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Hình sản phẩm</th>
                <th>Số lượng</th>
                <th>Giá</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="font-size:18px; font-weight:400">@item.TenSp</td>
                    <td>
                        <img src="~/Content/images/@item.img" height="120" width="120" style="border-radius: 20px " />
                    </td>
                    @using (Html.BeginForm("UpdateCart", "Cart", new { MaSP = @item.MaSP }))
                    {
                        <td>
                            <input type="number" min="1" value="@item.Amount" name="SoLuong" style="width:5rem; text-align:center" />
                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                        </td>

                        <td style="font-size:18px; font-weight:400">@string.Format("{0:N0} đ", Double.Parse(@item.Price.ToString()))</td>
                        <td style="font-size:18px; font-weight:400">@string.Format("{0:N0} đ", Double.Parse(@item.Total().ToString())) </td>

                    }
                    <td>
                        @Html.ActionLink("Xóa món ăn", "DeleteProduct", "Cart", new
                        {
                            MaSP = item.MaSP
                        }, new { @class = "btn btn-danger" })
                    </td>
                    <td></td>
                </tr>

            }

            <tr>
                <td></td>
                <td>
                    <h4>Mã giảm giá</h4>
                </td>

                <td>
                    @using (Html.BeginForm("ApplyDiscountCode", "Cart"))
                    {
                        <input type="text" name="discountCode" />
                        <button type="submit" class="btn btn-primary">Áp dụng</button>
                    }
                </td>
            </tr>
        </tbody>
        <form method="post" action="PaymentChoice">
        <tfoot>
            <tr>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="4">

                    <table style="border-collapse:separate;border-spacing:5px;">

                        <!-- Other form inputs -->
                        @if (Session["UserName"] == null)
                        {
                            <tr>
                                <td style="color:#ff0000;">Vui lòng đăng nhập để thanh toán</td>
                                <td>
                                    <a href="@Url.Action("LoginCus","Users_new")" class="btn btn-success">Đăng nhập</a>
                                </td>
                            </tr>

                        }
                        else
                        {
                            <tr>
                                <td>DEBUG: User is logged in. UserName: @Session["UserName"]</td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type="radio" name="paymentMethod" value="paypal" checked> PayPal
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="paymentMethod" value="cod"> Thanh toán khi nhận hàng
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="hidden" name="CodeCustomer" value="@Session["IDCus"]" required /></td>
                            </tr>

                            <tr>
                                <td>Địa chỉ giao hàng:</td>
                                <td><input type="text" name="DiaDiemGiaoHang" required /></td>
                            </tr>
                            <tr>
                                <td>Số điện thoại:</td>
                                <td><input type="text" name="PhoneNumber" required /></td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align:right;font-size:20px;color:#ee4d2d">
                                    <hr />
                                    @if (System.Web.HttpContext.Current.Session != null && System.Web.HttpContext.Current.Session["PriceAfterDis"] != null)
                                    {
                                        int? intValue = System.Web.HttpContext.Current.Session["perCentDis"] as int?;
                                        if (intValue.HasValue)
                                        {
                                            <p>
                                                Tổng tiền: @String.Format("{0:0,0}", Session["PriceAfterDis"]) ₫
                                            </p>

                                        }

                                    }
                                    else
                                    {

                                        <p>
                                            <span style="font-size:25px; font-weight:bold">Tổng tiền:</span> @String.Format("{0:0,0}", Double.Parse(@ViewBag.TongTien.ToString())) ₫
                                        </p>
                                        ViewBag.Message = "Mã voucher không tồn tại.";

                                    }
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align:right;font-size:20px;color:#ee4d2d">
                                    <hr />
                                    <button style="display: inline-block;
                                                 border-radius: 5px;
                                                 padding: 10px 20px;
                                                 font-size: 16px;
                                                 font-weight: bold;
                                                 text-align: center;
                                                 text-decoration: none;
                                                 color: #fff;
                                                 background-color: #007bff;
                                                 border: none;
                                                 cursor: pointer;
                                                 transition: background-color 0.3s ease;
                                                 position: relative;
                                                 bottom: 2.5rem"
                                            type="submit">
                                        Thanh toán
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </tfoot>    </form>
    </table>
    <a style="color:orangered; text-decoration:none;" href="@Url.Action("Index_user","SanPhams_new")">Tìm các sản phẩm khác</a>
</div>